<header class="header">

  <div class="header__logo">
    Librería!
  </div>

  <nav class="header__nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Inicio
    </a>

    <a routerLink="/weather" routerLinkActive="active">
      Clima
    </a>
  </nav>

  <div class="header__actions">

    <app-weather-summary></app-weather-summary>

    <div class="cart">
      <span class="cart-icon">🛒</span>
      <span class="cart-count">{{ cartCount() }}</span>
    </div>

  </div>

</header>

<router-outlet />
